--
-- PostgreSQL database dump
--

\restrict DLZKQKg8fzpyH8GVLFdPubJoOpncH2gghTQGkcJVuAgNxeVtYholDi7XxVdwkjN

-- Dumped from database version 15.17
-- Dumped by pg_dump version 15.17

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: assignments; Type: TABLE; Schema: public; Owner: demo-user
--

CREATE TABLE public.assignments (
    id integer NOT NULL,
    professor_id integer NOT NULL,
    title character varying NOT NULL,
    description text,
    subject character varying NOT NULL,
    due_date timestamp without time zone NOT NULL,
    max_marks integer NOT NULL,
    created_at timestamp without time zone NOT NULL
);


ALTER TABLE public.assignments OWNER TO "demo-user";

--
-- Name: assignments_id_seq; Type: SEQUENCE; Schema: public; Owner: demo-user
--

CREATE SEQUENCE public.assignments_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.assignments_id_seq OWNER TO "demo-user";

--
-- Name: assignments_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: demo-user
--

ALTER SEQUENCE public.assignments_id_seq OWNED BY public.assignments.id;


--
-- Name: marks; Type: TABLE; Schema: public; Owner: demo-user
--

CREATE TABLE public.marks (
    id integer NOT NULL,
    student_id integer NOT NULL,
    subject character varying NOT NULL,
    marks_obtained integer NOT NULL,
    recorded_by integer NOT NULL
);


ALTER TABLE public.marks OWNER TO "demo-user";

--
-- Name: marks_id_seq; Type: SEQUENCE; Schema: public; Owner: demo-user
--

CREATE SEQUENCE public.marks_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.marks_id_seq OWNER TO "demo-user";

--
-- Name: marks_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: demo-user
--

ALTER SEQUENCE public.marks_id_seq OWNED BY public.marks.id;


--
-- Name: students; Type: TABLE; Schema: public; Owner: demo-user
--

CREATE TABLE public.students (
    id integer NOT NULL,
    name character varying,
    email character varying,
    password character varying,
    roll_number character varying
);


ALTER TABLE public.students OWNER TO "demo-user";

--
-- Name: students_id_seq; Type: SEQUENCE; Schema: public; Owner: demo-user
--

CREATE SEQUENCE public.students_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.students_id_seq OWNER TO "demo-user";

--
-- Name: students_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: demo-user
--

ALTER SEQUENCE public.students_id_seq OWNED BY public.students.id;


--
-- Name: submissions; Type: TABLE; Schema: public; Owner: demo-user
--

CREATE TABLE public.submissions (
    id integer NOT NULL,
    assignment_id integer NOT NULL,
    student_id integer NOT NULL,
    file_path character varying NOT NULL,
    file_name character varying NOT NULL,
    submitted_at timestamp without time zone NOT NULL,
    marks_awarded integer,
    feedback text,
    graded_at timestamp without time zone
);


ALTER TABLE public.submissions OWNER TO "demo-user";

--
-- Name: submissions_id_seq; Type: SEQUENCE; Schema: public; Owner: demo-user
--

CREATE SEQUENCE public.submissions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.submissions_id_seq OWNER TO "demo-user";

--
-- Name: submissions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: demo-user
--

ALTER SEQUENCE public.submissions_id_seq OWNED BY public.submissions.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: demo-user
--

CREATE TABLE public.users (
    id integer NOT NULL,
    name character varying NOT NULL,
    email character varying NOT NULL,
    password character varying NOT NULL,
    role character varying NOT NULL,
    department character varying,
    created_by integer
);


ALTER TABLE public.users OWNER TO "demo-user";

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: demo-user
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.users_id_seq OWNER TO "demo-user";

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: demo-user
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: assignments id; Type: DEFAULT; Schema: public; Owner: demo-user
--

ALTER TABLE ONLY public.assignments ALTER COLUMN id SET DEFAULT nextval('public.assignments_id_seq'::regclass);


--
-- Name: marks id; Type: DEFAULT; Schema: public; Owner: demo-user
--

ALTER TABLE ONLY public.marks ALTER COLUMN id SET DEFAULT nextval('public.marks_id_seq'::regclass);


--
-- Name: students id; Type: DEFAULT; Schema: public; Owner: demo-user
--

ALTER TABLE ONLY public.students ALTER COLUMN id SET DEFAULT nextval('public.students_id_seq'::regclass);


--
-- Name: submissions id; Type: DEFAULT; Schema: public; Owner: demo-user
--

ALTER TABLE ONLY public.submissions ALTER COLUMN id SET DEFAULT nextval('public.submissions_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: demo-user
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Data for Name: assignments; Type: TABLE DATA; Schema: public; Owner: demo-user
--

COPY public.assignments (id, professor_id, title, description, subject, due_date, max_marks, created_at) FROM stdin;
2	9	eassy	freedom 	English	2026-04-30 00:00:00	20	2026-04-28 10:55:41.9671
\.


--
-- Data for Name: marks; Type: TABLE DATA; Schema: public; Owner: demo-user
--

COPY public.marks (id, student_id, subject, marks_obtained, recorded_by) FROM stdin;
1	3	Mathematics	85	2
2	4	Mathematics	70	2
4	7	math	70	5
3	6	math	58	5
5	10	Operating Systems	77	9
6	11	Operating Systems	70	9
7	11	Data Structures	55	9
8	10	Data Structures	66	9
\.


--
-- Data for Name: students; Type: TABLE DATA; Schema: public; Owner: demo-user
--



--
-- Data for Name: submissions; Type: TABLE DATA; Schema: public; Owner: demo-user
--

COPY public.submissions (id, assignment_id, student_id, file_path, file_name, submitted_at, marks_awarded, feedback, graded_at) FROM stdin;
2	2	10	/uploads/submissions/2/10_78c91da0b68740ff935e3d2a2207d8d0.pdf	Essay_on_Freedom.pdf	2026-04-28 10:56:44.318044	15		2026-04-28 11:17:00.62964
3	2	11	/uploads/submissions/2/11_d0eea8b851ce4b079c9f97006c16c42a.pdf	Essay_on_Freedom.pdf	2026-04-28 10:58:03.604686	14		2026-04-28 11:17:12.446608
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: demo-user
--



--
-- Name: assignments_id_seq; Type: SEQUENCE SET; Schema: public; Owner: demo-user
--

SELECT pg_catalog.setval('public.assignments_id_seq', 2, true);


--
-- Name: marks_id_seq; Type: SEQUENCE SET; Schema: public; Owner: demo-user
--

SELECT pg_catalog.setval('public.marks_id_seq', 8, true);


--
-- Name: students_id_seq; Type: SEQUENCE SET; Schema: public; Owner: demo-user
--

SELECT pg_catalog.setval('public.students_id_seq', 11, true);


--
-- Name: submissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: demo-user
--

SELECT pg_catalog.setval('public.submissions_id_seq', 3, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: demo-user
--

SELECT pg_catalog.setval('public.users_id_seq', 11, true);


--
-- Name: assignments assignments_pkey; Type: CONSTRAINT; Schema: public; Owner: demo-user
--

ALTER TABLE ONLY public.assignments
    ADD CONSTRAINT assignments_pkey PRIMARY KEY (id);


--
-- Name: marks marks_pkey; Type: CONSTRAINT; Schema: public; Owner: demo-user
--

ALTER TABLE ONLY public.marks
    ADD CONSTRAINT marks_pkey PRIMARY KEY (id);


--
-- Name: students students_pkey; Type: CONSTRAINT; Schema: public; Owner: demo-user
--

ALTER TABLE ONLY public.students
    ADD CONSTRAINT students_pkey PRIMARY KEY (id);


--
-- Name: students students_roll_number_key; Type: CONSTRAINT; Schema: public; Owner: demo-user
--

ALTER TABLE ONLY public.students
    ADD CONSTRAINT students_roll_number_key UNIQUE (roll_number);


--
-- Name: submissions submissions_pkey; Type: CONSTRAINT; Schema: public; Owner: demo-user
--

ALTER TABLE ONLY public.submissions
    ADD CONSTRAINT submissions_pkey PRIMARY KEY (id);


--
-- Name: submissions uq_assignment_student; Type: CONSTRAINT; Schema: public; Owner: demo-user
--

ALTER TABLE ONLY public.submissions
    ADD CONSTRAINT uq_assignment_student UNIQUE (assignment_id, student_id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: demo-user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: ix_assignments_id; Type: INDEX; Schema: public; Owner: demo-user
--

CREATE INDEX ix_assignments_id ON public.assignments USING btree (id);


--
-- Name: ix_marks_id; Type: INDEX; Schema: public; Owner: demo-user
--

CREATE INDEX ix_marks_id ON public.marks USING btree (id);


--
-- Name: ix_students_email; Type: INDEX; Schema: public; Owner: demo-user
--

CREATE UNIQUE INDEX ix_students_email ON public.students USING btree (email);


--
-- Name: ix_students_id; Type: INDEX; Schema: public; Owner: demo-user
--

CREATE INDEX ix_students_id ON public.students USING btree (id);


--
-- Name: ix_submissions_id; Type: INDEX; Schema: public; Owner: demo-user
--

CREATE INDEX ix_submissions_id ON public.submissions USING btree (id);


--
-- Name: ix_users_email; Type: INDEX; Schema: public; Owner: demo-user
--

CREATE UNIQUE INDEX ix_users_email ON public.users USING btree (email);


--
-- Name: ix_users_id; Type: INDEX; Schema: public; Owner: demo-user
--

CREATE INDEX ix_users_id ON public.users USING btree (id);


--
-- Name: assignments assignments_professor_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: demo-user
--

ALTER TABLE ONLY public.assignments
    ADD CONSTRAINT assignments_professor_id_fkey FOREIGN KEY (professor_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: marks marks_recorded_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: demo-user
--

ALTER TABLE ONLY public.marks
    ADD CONSTRAINT marks_recorded_by_fkey FOREIGN KEY (recorded_by) REFERENCES public.users(id);


--
-- Name: marks marks_student_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: demo-user
--

ALTER TABLE ONLY public.marks
    ADD CONSTRAINT marks_student_id_fkey FOREIGN KEY (student_id) REFERENCES public.users(id);


--
-- Name: submissions submissions_assignment_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: demo-user
--

ALTER TABLE ONLY public.submissions
    ADD CONSTRAINT submissions_assignment_id_fkey FOREIGN KEY (assignment_id) REFERENCES public.assignments(id) ON DELETE CASCADE;


--
-- Name: submissions submissions_student_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: demo-user
--

ALTER TABLE ONLY public.submissions
    ADD CONSTRAINT submissions_student_id_fkey FOREIGN KEY (student_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: users users_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: demo-user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(id);


--
-- PostgreSQL database dump complete
--

\unrestrict DLZKQKg8fzpyH8GVLFdPubJoOpncH2gghTQGkcJVuAgNxeVtYholDi7XxVdwkjN

